                * {
                    margin: 0px;
                    padding: 0px;
                    /* outline: 1px solid red; */
                }
                
                #container {
                    background-color: #46333A;
                    width: 1000px;
                    height: auto;
                    padding: 15px;
                    border: 10px solid black;
                }
                
                #header {
                    background-color: white;
                    display: inline-block;
                    margin-bottom: 20px;
                    height: auto;
                    width: 1000px;
                }
                
                #name {
                    background-color: white;
                    display: inline-block;
                    height: auto;
                    width: auto;
                }
                
                #doe {
                    background-color: white;
                }
                
                #shadows {
                    background-color: white;
                }
                
                #quote {
                    display: inline-block;
                    height: auto;
                    width: auto;
                    background-color: white;
                    vertical-align: bottom;
                    margin-left: 300px;
                }
                
                #profile {
                    width: auto;
                    height: 340px;
                    margin-bottom: 10px;
                }
                
                #photo {
                    background-image: url("photo_of_me.jpg");
                    background-size: 100%;
                    height: 100%;
                    width: 50%;
                    display: inline-block;
                }
                
                #abouthead {
                    background-color: grey;
                    width: 100%;
                    height: 13%;
                }
                
                .aboutheadtext {
                    color: white;
                    font-size: 21px;
                    margin-top: 1px;
                    padding: 10px;
                }
                
                #projects {
                    width: 100%;
                    height: 800px;
                }
                
                #footer {
                    background-color: gray;
                    width: 100%;
                    height: auto;
                }
                /* #lamode {
    vertical-align: top;
} */
                
                #about {
                    display: inline-block;
                    width: 455px;
                    height: 340px;
                    vertical-align: top;
                    margin-left: 40px;
                }
                
                #text {
                    background-color: white;
                }
                
                .room {
                    padding: 10px;
                    margin-left: 5px;
                    height: 118px;
                }
                
                .underline {
                    padding-left: 13px;
                    text-decoration: underline;
                }
                
                #lamode {
                    background-color: grey;
                    display: inline-block;
                    width: 30%;
                    height: auto;
                    vertical-align: top;
                    margin-right: 46px;
                }
                
                .mode {
                    color: white;
                }
                
                #family {
                    background-color: grey;
                    display: inline-block;
                    width: 30%;
                    height: auto;
                    vertical-align: top;
                    margin-right: 46px;
                }
                
                #fiveEleven {
                    background: grey;
                    display: inline-block;
                    width: 30%;
                    height: auto;
                    vertical-align: top;
                }
                
                #lamodepreview {
                    background-image: url("lamode.png");
                    background-size: 100%;
                    height: 166px;
                    background-repeat: no-repeat;
                }
                
                .inside {
                    background-color: #E0D3DF;
                    width: 100%;
                    height: 180px;
                }
                
                .techtop {
                    background-color: gray;
                    color: white;
                    display: inline-block;
                    width: 30%;
                }
                
                #familypreview {
                    background-image: url("familycontacts.png");
                    background-size: 100%;
                    height: 166px;
                    background-repeat: no-repeat;
                }
                
                #elevenPreview {
                    background-image: url("fiveEleven.png");
                    background-size: 100%;
                    height: 166px;
                    background-repeat: no-repeat;
                }
                
                #tech1,
                #tech2,
                #tech3 {
                    background-color: #E0D3DF;
                    width: 100%;
                    height: 106px;
                }
                
                .button {
                    height: 50px;
                    width: 50px;
                }
                
                #laButton {
                    border-radius: 5px;
                    background-color: green;
                    color: white;
                    height: auto;
                    width: auto;
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 120px;
                }
                
                #laBttm {
                    background-color: #E0D3DF;
                }
                
                #familybutton {
                    border-radius: 5px;
                    background-color: green;
                    color: white;
                    height: auto;
                    width: auto;
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 97px;
                }
                
                #elevenButton {
                    border-radius: 5px;
                    background-color: green;
                    color: white;
                    height: auto;
                    width: auto;
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 97px;
                }
                
                #elevenbttm {
                    background-color: #E0D3DF;
                }
                
                #familyBttm {
                    background-color: #E0D3DF
                }
                
                #phonenumber {
                    margin-left: 385px;
                    display: inline-block;
                }
                
                #other {
                    display: inline-block;
                    margin-left: 351px;
                }